---

import { siteConfig } from "../config";
---

<div
	id="config-carrier"
	data-hue={siteConfig.themeColor.hue}
	data-color-scheme={siteConfig.themeColor.defaultScheme ?? "glass"}
	data-accent-chroma={siteConfig.themeColor.defaultAccentChroma ?? 0.16}
	data-surface-chroma={siteConfig.themeColor.defaultSurfaceChroma ?? 0.026}
	data-wallpaper-mode={siteConfig.wallpaper.defaultMode}
	data-post-layout={siteConfig.display.defaultPostLayout}
	data-banner-title={siteConfig.display.defaultBannerTitle ? "show" : "hide"}
>
</div>
